<!DOCTYPE html>
<html>
    <head>
    <title></title>
    </head>
    <body style="background:linear-gradient(to left,rgb(0, 255, 81));">
        <style>
            h1{
                font-family:bold;
                text-align: center;
                background-clip:aqua;
                font-style:italic;
            }
            img{
                border-radius: 20px;
                box-shadow:inset;
                margin:auto;
                display:block;
            }
            p{
                font-family: 'Lucida Sans';
                font-size: medium;
                font-style: oblique;
            }
        </style>
        <h1>Rajalakshimi Polytechnic college</h1>
        <img src="Screenshot (58).png" align="center" font-color="red">
        <p>Rajalakshmi Polytechnic College, was established in 2008 in Tiruvannamalai, Tamil Nadu. 
            It is a private institute approved by AICTE. The institute offers Diploma programme in Full Time mode. It offers a total of 7 courses in 6 specializations including Civil Engineering, 
            Electronics & Communication Engineering, Electronics Engineering, Mechanical Engineering, Automobile Engineering and Tool Engineering. 
            The course offered at Rajalakshmi Polytechnic College include After 10th Diploma. 
            The total seat intake for the available courses is 420. Rajalakshmi Polytechnic College offers courses across stream such as Engineering. 
            The institute offers all the necessary facilities to the students.</p>
    </body>
</html>