<html>
    <title></title>
   <body>
    <center>
         
    <img src="Screenshot (19).png" usemap="#image-map">

<map name="image-map">
    <area target="_parent" alt="Tiruvannamalai" title="Tiruvannamalai" href="city.html" 
    coords="872,477,892,514" shape="rect">
    <area target="_parent" alt="Arunachala temple" title="Arunachala temple" href="temple.html" 
    coords="786,402,840,414" shape="rect">
    <area target="_parent" alt="MMCC" title="MMCC" href="ground.html" 
    coords="367,540,434,547" shape="rect">
    <area target="_parent" alt="Rajalakshmi engineering college" title="Rajalakshmi engineering college" href="college.html" 
    coords="1467,227,64" shape="circle">
    <area target="_parent" alt="IMAGICA Park" title="IMAGICA Park" href="park.html" 
    coords="840,142,64" shape="circle">
</map>